.choice {
  border-radius: 4px;
  cursor: pointer;

  flex: 1 1 auto;
  margin: 10px;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    #ffc500 0%,
    #c21500 51%,
    #c21500 100%
  );
}

#displayGameOver {
  font-size: 2rem;
  text-align: center;
}

/* p {
  font-size: 1.5rem;
  text-align: center;
} */

p {
  font-size: 1.2rem;
  text-align: center;
}

img {
  height: 10vh;
  max-width: 100%;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
.container-fluid {
  height: 80vh;
}
.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 80vw;
  margin: 0 auto;
  height: 100%;
}

input,
select,
label {
  width: 100%;
  padding: 0.5rem;
}

label {
  text-align: center;
  line-height: 2.5rem;
}
select,
input {
  border-radius: 10px;
  background-image: linear-gradient(
    to left,
    #ffe259 0%,
    #ffa751 51%,
    #ffa751 100%
  );
}

#url-generator,
#reset,
#newGame {
  flex: 1 1 auto;
  margin: 10px;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(0, 0, 0);
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  background-image: linear-gradient(
    to left,
    #ffe259 0%,
    #ffa751 51%,
    #ffa751 100%
  );
}

#start {
  flex: 1 1 auto;
  margin: 10px;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #f09819 51%,
    #f09819 100%
  );
}
